@{
    ViewBag.Title = "Contact";
}

<style>
    .jumbotron {
        background: rgba(0,0,0,0.4);
    }

    

    h2 {
        text-align: center;
        margin-top: 5px;
        color:white;
    }
    address{
        color:white;
        text-align:center;
        font-size: 20px;
    }

   
</style>


<body background="~/images/about1.jpg" style="background-size:cover">


    <div class="jumbotron">
        <h2>Keep In Touch</h2>

        <address>
            Georgian College<br />
            Barrie, Ontario<br />
            <abbr title="Phone">P:</abbr>
            123-456-7890
        </address>

        <address>
            <strong>Support:</strong>   <a href="">GeorgianCollege.com</a><br />

        </address>
        </div>
</body>