@{
    ViewBag.Title = "Home Page";
}


<head>
    <style>
        .img {
            width: 20%;
            height: 20%;
            text-align: center;
            margin-left: 40%;
        }

        .panel-heading {
            text-align: center;
            font-size: 20px;
        }

        .jumbotron {
            background: rgba(0,0,0, 0.4);
        }

        input {
            border-radius: 8px;
            font-size: 19px;
            background-color: lightgray;
        }

        .panel {
            background: rgba(255,255,255, 0.8);
        }
    </style>
</head>
<body background="~/images/my.jpg" style="background-size:cover">
    <div class="jumbotron">
        <h1 style="font-size:40px; text-align:center; color:white;">Library Management System</h1>
        <p style="text-align:center; color:white;">Welcome To City Library</p>
        <img class="img" src="~/images/logo.jpg" />





        <div class="panel panel-default">
            <div class="panel-heading">Book search</div>
            <div class="panel-body" style="text-align:center">
                @using (Ajax.BeginForm("BookSearch", "Home",
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        OnFailure = "searchFailed",
                        LoadingElementId = "ajax-loader",
                        UpdateTargetId = "searchresults",
                    }))
                {
                    <input type="text" name="q" autocomplete="off" data-autocomplete-source="@Url.Action("QuickSearch","Home")" />

                    <input type="submit" value="search" />
                    <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none" />
                }
                <div id="searchresults"></div>
            </div>
        </div>
    </div>
</body>
